@font-face {
	font-family: "Charter";
	src: url("../fonts/charterc.otf");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "OpenSansSemibold";
	src: url("../fonts/OpenSansSemibold.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family:"DroidSerifRegular";
	src: url("../fonts/DroidSherifRegular.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansItalic";
	src: url("../fonts/OpenSansItalic.ttf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "OpenSansRegular";
	src: url("../fonts/OpenSansRegular.ttf");
	font-weight: normal;
	font-style: normal;
}